html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
header {
    text-align: right;
}
html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    position: relative;
    right: 10px;
    top: 2px
}
footer {
    position:revert-layer;
}

.navbar-brand {
    text-align: center;
}
